<section id="register-wrapper">
  <form id="register-form">

    <div id="register-title" class="row">
      <div class="input-field col s12 m8 offset-m2 l6 offset-l3">
        <h3 class="center">Sign up</h3>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m8 offset-m2 l6 offset-l3">
        <input id="user-name" name="user-name" type="text" class="validate">
        <label for="user-name">Name</label>
        <div id="error-user-name" class="red-text error-message"></div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m8 offset-m2 l6 offset-l3">
        <input id="user-email" name="user-email" type="email" class="validate">
        <label for="user-email">Email</label>
        <div id="error-user-email" class="red-text error-message"></div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m8 offset-m2 l6 offset-l3">
        <input id="user-password" name="user-password" type="password" class="validate">
        <label for="user-password">Password</label>
        <div id="error-user-password" class="red-text error-message"></div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m8 offset-m2 l6 offset-l3">
        <input id="user-confirm-password" name="user-confirm-password" type="password" class="validate">
        <label for="user-confirm-password">Confirm the password</label>
        <div id="error-user-confirm-password" class="red-text error-message"></div>
      </div>
    </div>

    <div class="row">
      <div id="wrapper-btn-submit-signup" class="input-field col s12 m8 offset-m2 l6 offset-l3">
        <button id="btn-submit-signup" class="btn waves-effect waves-light" type="submit" name="action">Sign up
          <i class="fas fa-paper-plane"></i>
        </button>
      </div>
    </div>

  </form>
</section>
