<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 class="center">Book store</h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
      Copyright © 2020 Lviv Ukraine.
    </div>
  </div>
</footer>
