body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#nav-mobile i {
    margin-right: 5px;
}

#nav-mobile a {
    display: flex;
    align-items: center;
    font-size: 18px;
}

/* footer */
footer .social {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social h5 {
    margin-left: 10px;
}
