/* body */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* main */
.main {
    flex: 1 0 auto;
    display: flex;
    align-items: stretch;
}

.main .row {
    width: 100%;
    margin-bottom: 0;
    display: flex;
    align-items: stretch;
}

.main .row .col {
    width: 100%;
    margin-bottom: 0;
}

/* navbar */
#nav-mobile i {
    margin-right: 5px;
}

#nav-mobile a {
    display: flex;
    align-items: center;
    font-size: 18px;
}

/* form errors */
.error-message {
    font-size: 12px;
}

/* register page */
.btn-submit-signup {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
    padding: 0;
    margin-bottom: 25px;
}

.wrapper-btn-submit-signup {
    display: flex;
    justify-content: center;
}

#register-wrapper {
    height: 100%;
}

#register-form {
}
