/* root */
body, html {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* navbar */
#nav-mobile i {
    margin-right: 5px;
}

#nav-mobile a {
    display: flex;
    align-items: center;
    font-size: 18px;
}

/* form errors */
.error-message {
    font-size: 12px;
}

/* register page */
#register-wrapper {
    margin-top: 5%;
}

#btn-submit-signup {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
    padding: 0;
    margin-bottom: 25px;
}

#wrapper-btn-submit-signup {
    display: flex;
    justify-content: center;
}

#register-title {
    margin-bottom: 0;
}

#register-title h4 {
    padding: 10px;
    margin-bottom: 20px;
}

#sign-in-link {
    color: black;
    text-decoration: underline;
    font-size: 16px;
}

/* login page */
#login-wrapper {
    margin-top: 10%;
}

#btn-submit-signin {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
    padding: 0;
    margin-bottom: 25px;
}

#wrapper-btn-submit-signin {
    display: flex;
    justify-content: center;
}

#login-title {
    margin-bottom: 0;
}

#login-title h4 {
    padding: 10px;
    margin-bottom: 20px;
}

#sign-up-link {
    color: black;
    text-decoration: underline;
    font-size: 16px;
}
